@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
/* reset properties */

:root {
  --clr-dark: 202, 80%, 24%;
  --clr-light: 204, 94%, 94%;
  --clr-gray: 204, 24%, 88%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* #main {
    margin: auto;
} */

.container {
  max-width: 800px;
  margin: 2rem auto;
}

#main {
    text-align: center;
}

nav {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-light));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
}

#new-note {
  background-color: transparent;
  color: hsl(var(--clr-light));
  border: 1px solid;
  border-radius: 5px;
}

#new-note:hover {
  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
}

#bg-img {
  opacity: 0.2;
  width: 100%;
}

.notes-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  height: auto;
  margin: auto;
}

.note-card {
  /* border: 1px solid hsl(var(--clr-gray)); */
  border: none;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  cursor: pointer;
  /* position: relative; */
}

.note-card:hover {
    background-color: hsla(var(--clr-dark), 0.2);
    /* box-shadow: rgba(0, 0, 0) 0px 0px 2.6px; */
}

.delete-note {
  background-color: white;
  border: 1px solid hsl(var(--clr-dark));
  border-radius: 5px;
  width: fit-content;
  margin: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(205, 20%, 88%, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}

.new-note-modal {
  visibility: visible;
  z-index: 10;
}

#input-note {
  width: 700px;
  height: 60%;
  margin: auto;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid;
  position: relative;
}

#input-title {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  border: none;
}

#input-body {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  height: 80%;
  border: none;
}

#buttons {
  position: absolute;
  bottom: 10px;
}

#input-note button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

#input-note button:hover {
  background-color: hsl(var(--clr-gray));
}

#empty-space {
  position: relative;
  margin: auto;
  width: 500px;     
  opacity: 0.5;
}

#empty-bg {
  opacity: 0.2;
  width: 400px;
}

.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}

@media (width < 500px) {
    #input-note {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    #input-body {
        height: 85%;
    }

    #empty-bg {
      width: 70%;
    }

    #empty-space {
      width: 70%;
    }
}